/*----------------------------------------------FORM--------------------------------------------*/

input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #000000;
    box-sizing: border-box;
}
textarea{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #000000;
    box-sizing: border-box;
}





.cancelbtn {
    cursor: pointer;
    border: none;
    margin: 8px 0;
    padding: 14px 20px;
    color: white;
    padding: 14px 20px;
    background-color: #f44336;
    float: left;
    width: 50%;
}

.signupbtn {
    cursor: pointer;
    border: none;
    margin: 8px 0;
    padding: 14px 20px;
    color: white;
    background-color: #4CAF50;
    float: left;
    width: 50%;
}


